{#{% extends "app/layout.html" %}#}
{% extends "app/utility/utilityViewTemplate.html" %}
{% load i18n %}
{% load energify %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load authz %}

{% block head_css_styles %}
  {{ block.super }}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
svg:not(:root){
  overflow: visible !important;
}
{% endblock %}

{% block title %}{% trans "Usuarios de Comercializadora" %}{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    {% if not user|user_utility %}
    <li><a href="{% url 'utilities' %}">{% trans "Comercializadoras" %}</a></li>
    {% endif %}
    <li><a href="{% url 'utility_edit' utility_id=utility_id %}">{% trans "Vista de Comercializadora" %}</a></li>
{% endblock %}
{% block breadcrumbEnd %}{% trans "Usuarios" %}{% endblock %}

{% block HeadboardButton %}
  {% if user|user_is_role:ROLE_ADMINISTRATOR and max_users > cant_users %}
    <div class="btn-group pull-right m-r-sm">
      <a data-toggle="modal" class="btn btn-success new" href="{% url 'user_create' utility_id=utility_id %}">
        <i class="fa fa-plus"></i>&nbsp{% trans "Nuevo Usuario" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="modal-form" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background: #00a29b;color: white;"><h3 >{% trans "Nuevo Usuario" %}</h3></div>
                                <div class="modal-body">
                                    <div class="row" style="margin: 0px;">
                                        <div class="col-sm-12">
                                            <form id="user-form" class="form-horizontal" action="{% url 'user_create' utility_id=utility_id %}"
                                               method="post" enctype="multipart/form-data" role="form" >
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-content no-padding border-left-right" align="center">
                                                        <div style="width: 160px;height: 160px">
                                                            <img src="{% if user_profile and user_profile.image %}{% url 'employee_image' pk=user_profile.image.grid_id %}{% else %}{% static 'app/img/avatar.png' %}{% endif %}"
                                                                 alt="{% if user_profile and user_profile.user %}{{ user_profile.user }}{% else %}{% trans 'Avatar del usuario' %}{% endif %}"
                                                                 class="img-circle" id="btn_image" style="width: 100%;height: 100%;cursor: pointer;" />
                                                        </div>
                                                            <div class="hidden">{{ user_form.image }}</div>
                                                            {% if user_form.image.errors %}
                                                                {{ user_form.image.errors }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% for field in user_form %}
                                                    {% if field.name in showed_fields %}
                                                        <div class="form-group">
                                                            <label>{% trans field.label %}*</label>
                                                            {{ field }}
                                                            {% if field.errors %}
                                                                {{ field.errors }}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                <div id="showdiv" class="form-group m-b">
                                                    <label> {% trans "Generar y enviar contraseña por correo" %}</label>
                                                    <input type="checkbox" id="send_pass" class="form-control js-switch">
                                                </div>
                                                <div class="form-group" id="pass_opts">
                                                    <label>{% trans "Contraseña" %}</label>
                                                    <div class="input-group">
                                                        <input class="form-control" type="password" name="password" id="id_password">
                                                        <span class="input-group-addon">
                                                            <button id="see_pass" type="button" style="padding: 0px 8px;line-height: 1;" class="btn btn-default" data-state="not_see"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label> <input type="checkbox" class="i-checks" name="{{ user_form.receiver.name }}" id="id_{{ user_form.receiver.name }}"> {% trans user_form.receiver.label %} </label>
                                                </div>
                                                <div class="form-group">
                                                    <label> <input type="checkbox" class="i-checks" name="{{ user_form.is_active.name }}" id="id_{{ user_form.is_active.name }}" checked> {% trans user_form.is_active.label %} </label>
                                                </div>
                                                <div>
                                                    <input name="validated" value="0" id="id_validated" class="form-control" type="hidden">
                                                    <button id="save_user_form" class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit"><strong>{% trans "Guardar" %}</strong></button>
                                                    <button id="cancel_user_form" class="btn btn-sm btn-default pull-right m-t-n-xs" type="reset" data-dismiss="modal" ><strong>{% trans "Cancelar" %}</strong></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="utility-list-wrapper">
                        <table id="utility-users-list" class="table dataTables-example">
                        <thead>
                              <tr>
                                  <th>{% trans "Nombre de usuario" %}</th>
                                  <th>{% trans "Email" %}</th>
                                  <th>{% trans "Tipo" %}</th>
                                  <th>{% trans "Último acceso" %}</th>
                                  <th>{% trans "Activo" %}</th>
                              </tr>
                        </thead>
                        <tbody>
                        {% for user_profile in userprofile_list %}
                            <tr>
                                <td>
                                    <a class="edit" id="{{ forloop.counter }}" data-toggle="modal" class="btn btn-success" href="{% url 'user_edit' utility_id=utility_id user_id=user_profile.id %}">{{ user_profile.user.username }}</a>
                                    <input id="edit{{ forloop.counter }}" type="hidden" data-id_first_name="{{ user_profile.user.first_name }}" data-id_last_name="{{ user_profile.user.last_name }}"
                                    data-id_username="{{ user_profile.user.username }}" data-id_email="{{ user_profile.user.email }}" data-id_type="{% if user_profile.user|user_is_assessor_or_is_management_or_is_administrator %}A{% else %}E{% endif %}"
                                    data-id_receiver="{% if user_profile.email_receiver == True %}True{% else %}False{% endif %}" data-id_is_active="{% if user_profile.user.is_active == True %}True{% else %}False{% endif %}"
                                    data-id_image="{% if user_profile and user_profile.image %}{% url 'employee_image' pk=user_profile.image.grid_id %}{% endif %}">
                                </td>
                                <td>{{ user_profile.user.email }}</td>
                                {% if user_profile.user|user_is_assessor_or_is_management_or_is_administrator %}
                                    <td>{% trans "Asesor" %}</td>
                                {% else %}
                                    <td>{% trans "Empleado" %}</td>
                                {% endif %}
                                <td>{{ user_profile.user.last_login }}</td>
                                {% if user_profile.user.is_active %}<td>{% trans "Si" %}</td>{% else %}<td>{% trans "No" %}</td>{% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_files %}
  {{ block.super }}

  <script type="text/javascript" src="{% static 'app/libs/lodash/lodash.min.js' %}"></script>

    {% include 'app/partials/dataTables/javascript_files.html' %}
{% endblock %}

{% block javascript_functions %}
  {{ block.super }}
{#    <script type="text/javascript">#}
    {% include 'app/partials/dataTables/options.html' %}
{% endblock %}

{% block javascript_files_parent_layout %}
  <script type="text/javascript" src="{% static 'app/libs/iCheck/icheck.min.js' %}"></script>

{% endblock %}

{% block javascripts_document_ready %}
    {{ block.super }}


    {% if form_user_error %}
        $("#modal-form").modal("show");
    {% endif %}

{#    <script type="text/javascript">#}
    var eSwitchery = document.querySelector('.js-switch');
    var oSwitchery = new Switchery(eSwitchery, {color: '#1AB394'});
    $('.new').on('click', function(e){
        e.preventDefault();
        $('#modal-form').modal('show');
        $('#user-form').attr('action',$(this).attr('href'));

        $('#id_first_name').val("");
        $('#id_last_name').val("");
        $('#id_username').val("");
        $('#id_email').val("");
        $('#id_type').val("A");
        $('#id_image').val("");
        $('#id_password').val("");
        $('#id_receiver').val("False");
        $('#id_is_active').val("True");
        $('#id_receiver').iCheck('uncheck');
        $('#id_is_active').iCheck('check');
        $('#id_receiver').iCheck('update');
        $('#id_is_active').iCheck('update');
    });


    $('.edit').on('click', function(e){
        e.preventDefault();
        $('#modal-form').modal('show');
        $('#user-form').attr('action',$(this).attr('href'));
        var elem = $('#edit'+this.id);
        $('#id_first_name').val($(elem).data("id_first_name"));
        $('#id_last_name').val($(elem).data("id_last_name"));
        $('#id_username').val($(elem).data("id_username"));
        $('#id_email').val($(elem).data("id_email"));
        $('#id_type').val($(elem).data("id_type"));
        $('#id_password').val($(elem).data("id_password"));
        $('#id_receiver').val($(elem).data("id_receiver"));
        $('#id_is_active').val($(elem).data("id_is_active"));

        $('#btn_image').attr('src',$(elem).data('id_image'));

        if($('#id_receiver').val()== "True")
            $('#id_receiver').iCheck('check');
        else
            $('#id_receiver').iCheck('uncheck');

        if($('#id_is_active').val() == "True")
            $('#id_is_active').iCheck('check');
        else
            $('#id_is_active').iCheck('uncheck');

        $('#id_receiver').iCheck('update');
        $('#id_is_active').iCheck('update');
    });

    $("#modal-form").on('shown.bs.modal', function(event){

        $( "#user-form" ).submit(function( e ) {
            $(".errorlist").remove();
            $('#id_validated').val(0);
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: {
                    'first_name' : $('#id_first_name').val(),
                    'last_name' : $('#id_last_name').val(),
                    'username' : $('#id_username').val(),
                    'email' : $('#id_email').val(),
                    'type' : $('#id_type').val(),
                    'password' : $('#id_password').val(),
                    'receiver' : $('#id_receiver').val(),
                    'is_active' : $('#id_is_active').val(),
                    'validated' : $('#id_validated').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                async:false,
                success: function(response) {
                    if (response['valid']){
                        $('#id_validated').val(1);
                        return true;
                    }
                    else{
                        response.errors.forEach(function(item){
                            var errors_list = "";
                            item.errors.forEach(function(e){
                                errors_list += '<li>' + e + '</li>';
                            });
                            $( "#id_"+item.field ).after( '<ul class="errorlist">'+errors_list+'</ul>' );
                        });
                        e.preventDefault();
                        return false;
                    }
                }
              });
        });
    });


    function changePassStatus(){
        if(eSwitchery.checked){
            $('#pass_opts').hide();
        }else{
            $('#pass_opts').show();
            $('#id_password').val("");
        }
    }


    eSwitchery.onchange = function() {
        changePassStatus();
    };

    changePassStatus();

    $('#see_pass').on('click', function(){
        if($(this).data("state") == "not_see"){
            $(this).data("state", "see");
            $('#id_password').attr('type',"text");
            $(this).html('<i class="fa fa-eye-slash" aria-hidden="true"></i>');
        }else{
            $(this).data("state", "not_see");
            $('#id_password').attr('type',"password");
            $(this).html('<i class="fa fa-eye" aria-hidden="true"></i>');
        }
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });

    $('.icheckbox_square-green').on('ifChanged', function (event) {
        if(event.target.checked)
           $(event.target).val("True");
        else
            $(event.target).val("False");
    });

{#    var formId = '#utility-form';#}
{#    var utilityForm = jQuery(formId);#}
{#    var formUserId = '#user-form';#}
{#    var userForm = jQuery(formUserId);#}
    var imageBtn = $('img#btn_image');
    var imageInput = $('input#id_image');
    var fileTypes = ['jpg', 'jpeg', 'png', 'gif'];

    imageBtn.on('click', function(){
        if(imageInput) {
            imageInput.click();
        }
    });

    jQuery('#datos').addClass('active');

    imageInput.on('change', function(){
        previewImage(this);
    });

    function previewImage(input) {
        if (input.files && input.files[0]) {
            var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
            isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

            if (isSuccess) { //yes
                var reader = new FileReader();

                reader.onload = function (e) {
                    imageBtn.attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }else{
                alert("No es un archivo de imagen válido");
            }
        }
    }

{#    $('.btn-delete').click(function(e) {#}
{#        e.preventDefault();#}
{#        var url = $(this).attr('href');#}
        {#var urlRedirect = $(this).data('urlRedirect');#}
{#        swal({#}
{#            title: "¿Está seguro?",#}
{#            text: "No se podrá recuperar el empleado una vez que sea eliminado",#}
{#            type: "warning",#}
{#            showCancelButton: true,#}
{#            cancelButtonText: "Cancelar",#}
{#            confirmButtonColor: "#DD6B55",#}
{#            confirmButtonText: "Sí, eliminarlo",#}
{#            closeOnConfirm: false#}
{#        }, function () {#}
{#              userForm.attr('action', url);#}
{#              userForm.submit();#}
{#        });#}
{#    });#}
{##}
{#    function getCookie(name) {#}
{#        var cookieValue = null;#}
{#        var i = 0;#}
{#        if (document.cookie && document.cookie !== '') {#}
{#            var cookies = document.cookie.split(';');#}
{#            for (i; i < cookies.length; i++) {#}
{#                var cookie = jQuery.trim(cookies[i]);#}
{#                // Does this cookie string begin with the name we want?#}
{#                if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                    break;#}
{#                }#}
{#            }#}
{#        }#}
{#        return cookieValue;#}
{#    }#}
{##}
{#    var csrftoken = getCookie('csrftoken');#}
{##}
{#    function csrfSafeMethod(method) {#}
{#        // these HTTP methods do not require CSRF protection#}
{#        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{#    }#}
{##}
{#    $.ajaxSetup({#}
{#        crossDomain: false, // obviates need for sameOrigin test#}
{#        beforeSend: function (xhr, settings) {#}
{#            if (!csrfSafeMethod(settings.type)) {#}
{#                xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#            }#}
{#        }#}
{#    });#}

{#    var table = $('#utility-users-list').DataTable({#}
{#        'dom': "<'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-xs-12'r><'col-xs-12't>><'row'<'col-xs-12 text-center'i><'col-xs-12'p>>",#}
{#        'order': [[0, 'asc']],#}
{#        "lengthMenu": [[5, 10], [5, 10]]#}
{#    });#}

    var utilityUserList = $('#utility-users-list');
      var utilityUserListDTConfig = {
          'responsive': false,
          "pageLength": 10,
          'order': []
      };
    var utilityUserListDT = utilityUserList.DataTable(_.merge($.fn.dataTable.defaults, utilityUserListDTConfig));

{% endblock %}
