{% extends "contract/common/contract_form.html" %}
{% load staticfiles %}
{% load i18n %}
{% load add_attr from energify %}


{% block section_co_regulated %}
<div class="form-group section-CO">
    <label class="col-sm-2 control-label text-right p-t-0">
    </label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12" style="/*margin-bottom: 10px;*/">
                <label class="control-label" style="padding-left: 0px;font-weight: normal">
                    {{ form.is_regulated|add_attr:'{"class": "form-control i-checks"}' }} &nbsp {% trans "¿Es un contrato regulado?" %}
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_code %}
<script type="text/javascript" >

    function update_tariff_by_contract_type_and_regulated_value(regulated){
        $('#id_tariff').selectpicker('refresh');
        var current_contract_type = $('#id_contract_type').val();
        {#var regulated = $("#id_is_regulated").parent('[class*="icheckbox"]').hasClass("checked");#}
        var regulated_value = ((regulated) ? '1' : '0');
        $.each($('#id_tariff option'), function(index, item) {
            if(current_contract_type == $(item).data("contract_type") && regulated_value == $(item).data("regulated") ){
                $(item).show();
            }
            else{
                $(item).hide();
            }
        });

        $('#id_tariff').selectpicker('refresh');

        {#does not work in chrome#}
        {#$('#id_tariff option:hidden').removeAttr('selected');#}
        {#var selected_option = $("#id_tariff option:not(:hidden):selected").val();#}

        var selected_option = $('#id_tariff option[selected]');
        if(selected_option && selected_option.prop("style") && selected_option.prop("style").display == "none"){
            selected_option = null;
        }

        if(selected_option){
            $('#id_tariff').selectpicker('val', selected_option.val());
        }
        else{
            $('#id_tariff').selectpicker('val', "");
            $('#id_tariff').selectpicker('render');
        }
    }

    function update_page_specific_components(){
        var regulated = $("#id_is_regulated").parent('[class*="icheckbox"]').hasClass("checked");

        $('#id_is_regulated').on('ifChanged', function (event) {
            console.log("entre");
            update_tariff_by_contract_type_and_regulated_value(event.target.checked);
        });

        update_tariff_by_contract_type_and_regulated_value(regulated);
    }
</script>
{% endblock %}