{% extends 'client/layout.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Perfil de Usuario" %}{% endblock %}
{% block breadcrumb %}
  {{ block.super }}
  <li>{% trans "Vista de Cliente" %}</li>
{% endblock %}
{% block breadcrumbEnd %}{% trans "Perfil" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="ibox">
        <div class="ibox-content col-md-6 col-md-offset-3">
          <form id="user-form" class="form-horizontal" method="post" enctype="multipart/form-data" role="form"
                action="{% block user_form_action_url %}{% url 'core.portfolio.client:client_users_create' client_id=client.id %}{% endblock %}">
            {% csrf_token %}
            <div class="form-group">
              <div style="width: 160px;height: 160px" class="center-block">
                <img src="{% if object and object.image %}{% url 'core.portfolio.client:client_users_image' client_id=client.id pk=object.image.grid_id %}{% else %}{% static 'app/img/avatar.png' %}{% endif %}"
                     alt="{% if object and object.user %}{{ object.user }}{% else %}{% trans 'Avatar del usuario' %}{% endif %}"
                     class="img-circle" id="btn_image" style="width: 100%;height: 100%;cursor: pointer;" />
              </div>
              <div class="hidden">{{ form.image }}</div>
              {% if form.image.errors %}
                {{ form.image.errors }}
              {% endif %}
            </div>
            {% for field in form %}
              {% if field.name in fields_auto_render %}
                <div class="form-group">
                  <label>{% trans field.label %}*</label>
                  {{ field }}
                  {% if field.errors %}
                    {{ field.errors }}
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}

{#            <div id="showdiv" class="form-group m-b">#}
{#              <label for="send_pass"> {% trans "Generar y enviar contraseña por correo" %}</label>#}
{#              <input type="checkbox" id="send_pass" class="form-control js-switch">#}
{#            </div>#}
            <div class="form-group" id="pass_opts">
              <label for="id_password">{% trans "Contraseña" %}</label>
              <div class="input-group">
                <input class="form-control" type="password" name="password" id="id_password">
                <span class="input-group-addon">
                  <button id="see_pass" type="button" style="padding: 0 8px;line-height: 1;" class="btn btn-default" data-state="not_see"><i class="fa fa-eye" aria-hidden="true"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label> <input type="checkbox" class="i-checks" name="{{ form.receiver.name }}" id="id_{{ form.receiver.name }}"> {% trans form.receiver.label %} </label>
            </div>
            <div class="form-group">
              <label> <input type="checkbox" class="i-checks" name="{{ form.is_active.name }}" id="id_{{ form.is_active.name }}" checked> {% trans form.is_active.label %} </label>
            </div>
            <div class="form-group">
              <button id="save_user_form" class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit"><strong>{% trans "Guardar" %}</strong></button>
              <a href="{% url 'core.portfolio.client:client_users' client_id=client.id %}" class="btn btn-sm btn-default pull-right m-t-n-xs"><strong>{% trans "Cancelar" %}</strong></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript_files %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'app/libs/iCheck/icheck.min.js' %}"></script>
{% endblock %}

{% block javascripts_document_ready %}
  {{ block.super }}

{#  <script type="text/javascript">#}

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
    });

    var formId = '#client-form';
    var clientForm = jQuery(formId);

    var imageBtn = $('img#btn_image');
    var imageInput = $('input#id_logo');
    var fileTypes = ['jpg', 'jpeg', 'png', 'gif'];

    jQuery('#datos').addClass('active');

    imageBtn.on('click', function(){
        if(imageInput) {
            imageInput.click();
        }
    });

    imageInput.on('change', function(){
        previewImage(this)
    });

    function previewImage(input) {
        if (input.files && input.files[0]) {
            var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
            isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

            if (isSuccess) { //yes
                var reader = new FileReader();

                reader.onload = function (e) {
                    imageBtn.attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }else{
                alert('{% trans "No es un archivo de imagen válido" %}');
            }
        }
    }
{% endblock %}