{% extends 'client/layout.html' %}
{% load i18n %}
{% load authz %}
{% load static %}

{% block head_title %}{{ block.super }} - {% trans "Usuarios del Cliente" %}{% endblock %}

{% block head_stylesheet_file %}
  {{ block.super }}
  {% include 'profile/partials/head_stylesheet_file.html' %}
{% endblock %}

{% block head_css_styles %}
  {{ block.super }}
  .bootstrap-select > .btn.btn-default { border-radius: 0 !important; }
  .table > tbody > tr > td { line-height: 30px; }
{% endblock %}

{% block title %}{% blocktrans %}Usuarios del Cliente{% endblocktrans %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li><a href="{% url 'core.portfolio.client:client_update' pk=client.id %}">{% trans "Vista de Cliente" %}</a></li>
{% endblock %}
{% block breadcrumbEnd %}{% trans "Usuarios" %}{% endblock %}

{% block HeadboardButton %}
  {% include 'profile/partials/headboard_button.html' %}
{% endblock %}

{% block content %}
  {% include 'profile/partials/content.html' %}
{% endblock %}

{% block before_javascripts %}
  {% include 'profile/partials/modal_form.html' %}
{% endblock %}

{% block javascript_files %}
  {{ block.super }}
  {% include 'profile/partials/javascript_files.html' %}
{% endblock %}

{% block javascript_functions %}
  {{ block.super }}
  {% include 'profile/partials/javascript_functions.html' %}
{% endblock %}

{% block javascripts_document_ready %}
  {{ block.super }}
  {% include 'profile/partials/javascript_document_ready.html' %}
{% endblock %}