{% extends "app/utility/utilityViewTemplate.html" %}
{% load i18n staticfiles humanize %}

{% block head_stylesheet_file %}
  {{ block.super }}
  {% include 'app/partials/highcharts/stylesheet_files.html' %}
  {% include 'app/partials/dataTables/stylesheet_files.html' with auto_fill=False buttons=False col_reorder=False fixed_columns=False fixed_header=False key_table=False row_group=False row_reorder=False scroller=False select=True material=True checkboxes=False %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap-select/bootstrap-select.min.css' %}">
  <link rel="stylesheet" type="text/css"
        href="{% static 'app/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/daterangepicker/daterangepicker-bs3.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/iCheck/custom.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/jasny/jasny-bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/jqGauge/jquery-gauge.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/jquery.timepicker/jquery.timepicker.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/datapicker/bootstrap-datepicker-material.css' %}">
{% endblock head_stylesheet_file %}

{% block head_css_styles %}
  {{ block.super }}
  @media (min-width: 768px) {
  #meter-list_wrapper .dataTables_col_wrapper { min-height: 324px; }
  }
  @media (min-width: 992px) {
  #meter-list_wrapper .dataTables_col_wrapper { min-height: 265px; }
  }
  .icheckbox_square-green { display: block; margin: 0 auto; }
  .i-checks-inline > .icheckbox_square-green { display: inline-block; }

  .datepicker-days tr:hover {
    background-color: #f2f2f2;
  }

  .non-control-label{
    font-weight: normal;
    text-align: right;
    padding-top: 7px;
  }

  .small-title-label{
    font-weight: bold;
  }

  .h4-text{
    font-weight: normal;line-height: 1.5em;margin-top: 0px !important;
  }

  .p-l-0 {
    padding-left: 0 !important;
  }

  .p-r-0 {
    padding-right: 0 !important;
  }

  .form-horizontal .control-label{
    text-align: right;
  }

  .m-b-0 {
    margin-bottom: 0 !important;
  }

  #pv_measure .ibox-title{
    border-top: 0px !important;
    border-bottom: 1px solid #e3e7ee;
  }

  .p-lr-0 { padding-left: 0 !important; padding-right: 0 !important; }

  .tooltip{
    text-align: left;
  }

  .tooltip-inner{
    max-width:350px;
    text-align: left;
  }

{% endblock %}

{% block title %}{% trans "Telemedidas de Comercializadora" %}{% endblock %}
{% block breadcrumb %}
  {{ block.super }}
  <li><a href="">{% trans "Vista de Comercializadora" %}</a></li>
{% endblock %}
{% block breadcrumbEnd %}{% trans "Telemedidas" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">


      {% for excel_file in objects %}
          <div class="file-box">
            <div class="file">
              {% comment %}href="{% url 'core.reporting:file_view' rpt_id=excel_file.file %}"{% endcomment %}
              <a class="telemeter-file" href="{% url 'core.portfolio.profile:download' utility_id=utility_id filename=excel_file.path %}" data-path="{{ excel_file.path }}">
              <span class="corner"></span>
              <div class="icon">
                  <i class="fa fa-file-excel-o"></i>
              </div>
              <div class="file-name">
                <span style="max-height: 100px;overflow-y: hidden;">{{ excel_file.name }}</span>
              </div>
              </a>
            </div>
          </div>
        {% empty %}
          <div class="middle-box text-center">
            <h3 class="font-bold text-center">{% trans "Ningún archivo de telemedidas" %}</h3>
            <div class="error-desc">
              {% trans "No existen archivos generados con la información de los clientes telemedidos" %}
            </div>
          </div>
        {% endfor %}


    </div>
  </div>
{% endblock %}

{% block javascript_files %}
  {{ block.super }}

  <script src="{% static 'django_js_routing/router.min.js' %}"></script>
  <script src="{% url 'django_js_routing:routes' %}"></script>

  <script type="text/javascript" src="{% static 'app/libs/lodash/lodash.min.js' %}"></script>

  {% include 'app/partials/highcharts/javascript_files.html' %}
  {% include 'app/partials/dataTables/javascript_files.html' with auto_fill=False buttons=False col_reorder=False fixed_columns=False fixed_header=False key_table=False row_group=False row_reorder=False scroller=False select=True %}

  <script type="text/javascript" src="{% static 'app/libs/moment/moment.min.js' %}"></script>
  {% if LANGUAGE_CODE == 'es' or LANGUAGE_CODE == 'es-co' %}
  <script type="text/javascript" src="{% static 'app/libs/moment/locale/es.js' %}"></script>
  {% endif %}
  {% if LANGUAGE_CODE == 'de' %}
  <script type="text/javascript" src="{% static 'app/libs/moment/locale/de.js' %}"></script>
  {% endif %}
  <script type="text/javascript" src="{% static 'app/libs/datapicker/bootstrap-datepicker.min.js' %}"></script>
  {% if LANGUAGE_CODE == 'es' or LANGUAGE_CODE == 'es-co' %}
  <script type="text/javascript" src="{% static 'app/libs/datapicker/i18n/bootstrap-datepicker.es.min.js' %}" charset="UTF-8"></script>
  {% endif %}
  <script type="text/javascript" src="{% static 'app/libs/daterangepicker/daterangepicker.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/libs/bootstrap-select/bootstrap-select.min.js' %}"></script>
  {% if LANGUAGE_CODE == 'es' or LANGUAGE_CODE == 'es-co' %}
  <script type="text/javascript" src="{% static 'app/libs/bootstrap-select/bootstrap-select.es_ES.min.js' %}"></script>
  {% endif %}

  <script type="text/javascript" src="{% static 'app/libs/bootstrap-select/bootstrap-select.min.js' %}"></script>
  {% if LANGUAGE_CODE == 'es' or LANGUAGE_CODE == 'es-co' %}
    <script type="text/javascript"
            src="{% static 'app/libs/bootstrap-select/bootstrap-select.es_ES.min.js' %}"></script>
  {% endif %}

  <script type="text/javascript" src="{% static 'app/libs/iCheck/icheck.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/libs/jasny/jasny-bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/libs/table-view-renderer/table_view_renderer.src.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/libs/jsviews/jsviews.min.js' %}"></script>

{% endblock %}

{% block javascript_functions %}
  {{ block.super }}

  {% include 'app/partials/dataTables/options.html' %}

  $.views.settings.delimiters("[%", "%]");

{% endblock %}

{% block javascripts_document_ready %}
  {{ block.super }}

{% endblock %}
