{% load trans from i18n %}
<div class="row">
  <div class="col-xs-12">
  {% if object_list|length == 0 %}
    <div class="middle-box text-center animated fadeInRightBig">
      <h3 class="font-bold text-center">{% trans "Ningun usuario" %}</h3>
      <div class="error-desc">
        <p class="text-center">{% trans "Actualmente no hay usuarios." %}</p>
      </div>
    </div>
  {% else %}
    <div class="ibox">
      <div class="ibox-content">
        <div class="users-list-wrapper">
          <table id="users-list" class="table table-condensed table-hover" style="width: 100%;" data-order='[[1,"desc"]]'>
            <thead>
              <tr>
                <th data-data="id" class="all">&nbsp;</th>
                <th data-data="last_login" class="all">{% trans "Último acceso" %}</th>
                <th data-data="first_name" class="desktop">{% trans "Nombre y Apellido(s)" %}</th>
                <th data-data="email" class="all">{% trans "Correo electronico" %}</th>
                <th data-data="is_active" class="all">{% trans "Estado" %}</th>
                <th data-data="date_joined" class="all">{% trans "Primer acceso" %}</th>
                <th data-data="password" class="all">{% trans "Accesos" %}</th>
                <th data-data="role" class="all">{% trans "Rol" %}</th>
                <th data-data="action" class="all">&nbsp;</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
</div>
