{% load static from staticfiles %}
{% include 'app/partials/dataTables/stylesheet_files.html' with auto_fill=False buttons=False col_reorder=False fixed_columns=False fixed_header=False key_table=False row_group=False row_reorder=False scroller=False select=False material=True checkboxes=False %}
<link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap-select/bootstrap-select.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/libs/iCheck/custom.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/libs/switchery/switchery.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/libs/jasny/jasny-bootstrap.min.css' %}"/>
