{% load trans from i18n %}
{% load authz %}
{% if user|user_is_role:ROLE_ADMINISTRATOR and max_users > cant_users %}
    <div class="btn-group pull-right m-r-sm">
        <button id="new-user" type="button" data-toggle="modal" class="btn btn-success" data-action-url="{% url 'core.portfolio.profile:users_create' profile_id=profile.id %}">
            <i class="fa fa-plus"></i>&nbsp{% trans "Nuevo Usuario" %}
        </button>
    </div>
{% endif %}
{% if user|user_is_role:ROLE_ADMINISTRATOR%}
    <div class="pull-right m-r-sm" style="margin-right: 20px;text-align: right;padding: 0px 10px;margin-bottom: -1px;margin-top: 8px;">
        <span class="m-r-sm text-muted"><strong>{{ cant_users }}</strong>  {% trans "de" %} <strong>{{ max_users }}</strong> {% trans "usuarios permitidos." %}</span>
    </div>
{% endif %}