{% load authz i18n static %}
<script src="{% static 'django_js_routing/router.min.js' %}"></script>
<script src="{% url 'django_js_routing:routes' %}"></script>

<script type="text/javascript" src="{% static 'app/libs/lodash/lodash.min.js' %}"></script>

{% include 'app/partials/dataTables/javascript_files.html' with auto_fill=False buttons=False button_html5=True button_pdf=False button_colvis=False button_print=False col_reorder=False fixed_columns=False fixed_header=False key_table=False row_group=False row_reorder=False scroller=False select=True %}

<script type="text/javascript" src="{% static 'app/libs/jquery-forms/jquery.form.min.js' %}"></script>

<!-- Switchery -->
<script type="text/javascript" src="{% static 'app/libs/switchery/switchery.min.js' %}"></script>

<script type="text/javascript" src="{% static 'app/libs/iCheck/icheck.min.js' %}"></script>

<script type="text/javascript" src="{% static 'app/libs/jasny/jasny-bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'app/libs/bootstrap-select/bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'app/libs/jsviews/jsviews.min.js' %}"></script>

<!-- JQuery's AJAX methods to setup CSRF token in the request before sending it -->
<script type="text/javascript" src="{% static 'app/js/ajax_setup.min.js' %}"></script>

<!-- savings plan -->
<script type="text/javascript" src="{% static 'app/js/profile.min.js' %}"></script>
{% include 'app/partials/tpl_rowid_icheck_for_lists.html' %}
<script type="text/x-jsrender" id="tpl-actions-for-list">
  <a href="[%:url_edit%]" class="btn btn-success center-block">
    <i class="fa fa-edit"></i>&nbsp{% trans "Editar" %}
  </a>
</script>
<script type="text/x-jsrender" id="tpl-column-name">
  <img src="[%if url_avatar%][%:url_avatar%][%else%]{% static 'app/img/avatar.png' %}[%/if%]"
         alt="[%:name%]"
         class="img-circle inline-block" style="width: 30px; height: 30px;" />
  [%if url_edit.length > 0%]
  <a data-action-url="[%:url_edit%]" class="edit-user" style="font-weight: 700; cursor: pointer;">[%:name%]</a><br/>
  [%else%]
  <span style="font-weight: 700;">[%:name%]</span><br/>
  [%/if%]
</script>
<script type="text/x-jsrender" id="tpl-column-email">
  [%if email.length > 0%]
  <a href="mailto:[%:email%]">[%:email%]</a>
  [%/if%]
</script>
<script type="text/x-jsrender" id="tpl-column-actions">
  {% if user|user_is_role:ROLE_ADMINISTRATOR %}
  <a href="[%:url_delete%]" class="btn btn-danger btn-delete center-block">
    <i class="fa fa-trash"></i>&nbsp{% trans "Delete" %}
  </a>
  {% endif %}
</script>
{% include 'profile/partials/modal_form_content.html' %}