{% load trans from i18n %}
{% load static from staticfiles %}
<script type="text/x-jsrender" id="tpl-modal-form">
<div class="modal-header" style="background: #00a29b;color: white;">
  <h3>[%if edit_form %]{% trans "Editar Usuario" %}[%else%]{% trans "Nuevo Usuario" %}[%/if%]</h3>
</div>
<div class="modal-body">
  <div class="row" style="margin: 0;">
    <div class="col-sm-12">
      <form id="user-form" class="form-horizontal" action="[%:url_action%]"
            method="post" enctype="multipart/form-data" role="form" >
        {% csrf_token %}
        <div class="form-group">
          <div class="ibox float-e-margins">
            <div class="ibox-content no-padding border-left-right" align="center">
              <div style="width: 160px;height: 160px">
                <img src="[%if user_logo%][%:user_logo%][%else%]{% static 'app/img/avatar.png' %}[%/if%]"
                     alt="[%if user_logo_alt%][%:user_logo_alt%][%else%]{% trans 'Avatar del usuario' %}[%/if%]"
                     class="img-circle" id="btn_image" style="width: 100%;height: 100%;cursor: pointer;" />
              </div>
              <div class="hidden">{{ form.image }}</div>
              {% if form.image.errors %}
                {{ form.image.errors }}
              {% endif %}
            </div>
          </div>
        </div>
        {% for field in form %}
          {% if field.name in fields_auto_render %}
            <div class="form-group">
              <label>{% trans field.label %}*</label>
              {{ field }}
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

        <div id="showdiv" class="form-group m-b">
          <label> {% trans "Generar y enviar contraseña por correo" %}</label>
          <input type="checkbox" id="send_pass" name="send_pass" class="form-control js-switch">
        </div>
        <div class="form-group" id="pass_opts">
          <label>{% trans "Contraseña" %}</label>
          <div class="input-group">
            <input class="form-control" type="password" name="password" id="id_password">
            <span class="input-group-addon">
              <button id="see_pass" type="button" style="padding: 0 8px;line-height: 1;" class="btn btn-default" data-state="not_see">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label> <input type="checkbox" class="i-checks" name="{{ form.email_receiver.name }}" id="id_{{ form.email_receiver.name }}"> {% trans form.email_receiver.label %} </label>
        </div>
        <div class="form-group">
          <label> <input type="checkbox" class="i-checks" name="{{ form.is_active.name }}" id="id_{{ form.is_active.name }}" checked> {% trans form.is_active.label %} </label>
        </div>
        <div>
          <input name="validated" value="0" id="id_validated" class="form-control" type="hidden">
          <button id="save_user_form" class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit"><strong>{% trans "Guardar" %}</strong></button>
          <button id="cancel_user_form" class="btn btn-sm btn-default pull-right m-t-n-xs" type="reset" data-dismiss="modal" ><strong>{% trans "Cancelar" %}</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>
</script>
