{% extends "core/meters_view.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}
{% load authz %}
{% load add_attr from energify %}

{% block head_stylesheet_file %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/iCheck/custom.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/sweetalert/sweetalert.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/datapicker/bootstrap-datepicker3.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap-select/bootstrap-select.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/switchery/switchery.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/switchery/switchery.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/meter_view/meter.css' %}"/>
{% endblock %}

{% block head_css_styles %}
  {{ block.super }}
  .bootstrap-select > .btn.btn-default { border-radius: 0 !important; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance:textfield;
}
{% endblock %}

{% block formLayout %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 class="font-bold no-margins">{% trans "Información de medidores" %}</h5>
        <div class="ibox-tools">
            <a class="">
                <i class="fa fa-info-circle"
                   data-toggle="tooltip" data-placement="top"
                   title='{% trans "Medidores" %}'>
                </i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <form method="post" id="meter-form" class="form-horizontal" action="">{% csrf_token %}
            <div class="form-group" style="/*text-align:right; margin-right:1%*/">
                <label class="control-label col-sm-2 text-right">{% trans "Datos Generales" %}</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                          <small class="control-label">{% trans "Nombre*" %}</small>
                          {{ meter_form.name }}
                          {% if meter_form.name.errors %}
                          {{ meter_form.name.errors }}
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{#            {% if not final_client %}#}
            <div class="row">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="row">
                        <div class="col-sm-12 m-b">
                            <label class="control-label"> {{ meter_form.is_supply_point }} {% trans "¿Es un contador de acometida?" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-b" id="SupplyPointContent">
                            {% include 'core/supply_point_form.html' with form=meter_form %}
                        </div>
                    </div>
                    <div class="form-group hide" id="SubmeterContent">
                        {% include 'core/submeter_form.html' with form=submeter_form %}
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed" style="margin-top:0%;"></div>
            <div class="form-group" style="/*text-align:right; margin-right:1%*/">
{#              <label class="control-label col-sm-2 text-right">{% trans "Parámetros de Comunicación" %} </label>#}
              <label class="control-label col-sm-2 text-right">{% trans "Dispone de Comunicación" %} </label>
              <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12 m-b" style="/*margin-bottom: 10px;*/">
                        <label for="{{ meter_form.label_for_id }}" class="control-label" style="padding-left: 0px;font-weight: normal">
                            {{ meter_form.has_remote_conection|add_attr:'{"class": "form-control i-checks"}' }} &nbsp
                        </label>
                        <button class="btn btn-sm btn-default" id="show_connection_params" type="button" style="padding: 1.5px 15px;margin-top: 5px;color: #00a29b;border-color: #00a29b;">
                          {% trans "Mostrar datos de comunicación" %} </button>
                    </div>
                </div>
                <div id="connection_params" style="display: none">
                  <div class="row" >
                    <div class="col-sm-6 m-b">
                        <small class="control-label">{% trans "Número de telefono" %}</small>
                        {{ meter_form.comm_params }}
                        {% if meter_form.comm_params.errors %}
                        {{ meter_form.comm_params.errors }}
                        {% endif %}
                    </div>
                    <div class="col-sm-6 m-b">
                        <small class="control-label">{% trans "Id de dispositivo" %}</small>
                        {{ meter_form.comm_device_id }}
                        {% if meter_form.comm_device_id.errors %}
                        {{ meter_form.comm_device_id.errors }}
                        {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 m-b">
                          <div class="col-sm-12" style="padding-left:0%; padding-right:0%;">
                              <small class="control-label">{% trans "Velocidad y paridad" %}</small>
                          </div>
                          <div class="col-sm-7" style="padding-left:0%; padding-right:0%;">
                              {{ meter_form.speed|add_class:"selectpicker input-md form-control input-s-sm inline" }}
                              {% if meter_form.speed.errors %}
                              {{ meter_form.speed.errors }}
                              {% endif %}
                          </div>
                          <div class="col-sm-5" style="padding-left:0%; padding-right:0%;">
                              {{ meter_form.parity|add_class:"selectpicker input-md form-control input-s-sm inline pull-right" }}
                              {% if meter_form.parity.errors %}
                              {{ meter_form.parity.errors }}
                              {% endif %}
                          </div>
                      </div>
                    <div class="col-sm-6 m-b">
                        <small class="control-label">{% trans "Dirección de enlace" %}</small>
                        {{ meter_form.gate_link|add_class:"form-control" }}
                        {% if meter_form.gate_link.errors %}
                        {{ meter_form.gate_link.errors }}
                        {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 m-b">
                        <small class="control-label">{% trans "Clave de lectura" %}</small>
                        &nbsp
                        <i style="color:#f8ac59" class="fa fa-info-circle"
                           data-toggle="tooltip" data-placement="top"
                           title="Es el dato que toma que identifica a la 'compañía distribuidora' y toma valores habituales como Iberdrola=7, Endesa=1, Fenosa=1..."></i>
                        {{ meter_form.reading_key|add_class:"form-control" }}
                        {% if meter_form.reading_key.errors %}
                        {{ meter_form.reading_key.errors }}
                        {% endif %}
                    </div>
                    <div class="col-sm-6 m-b">
                        <small class="control-label">{% trans "Punto de medida" %}</small>
                        {{ meter_form.address_measure_point|add_class:"form-control" }}
                        {% if meter_form.address_measure_point.errors %}
                        {{ meter_form.address_measure_point.errors }}
                        {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <small class="control-label">{% trans "Código de concentrador" %}</small>
                        {{ meter_form.datalogger_id }}
                        {% if meter_form.datalogger_id.errors %}
                        {{ meter_form.datalogger_id.errors }}
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
{#            {% endif %}#}
          <div class="hr-line-dashed" style="margin-top:0%;"></div>
            <div class="form-group" style="/*text-align:right; margin-right:1%*/">
                <label class="control-label col-sm-2 text-right">{% trans "Blockchain Integration" %}</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                          <small class="control-label">{% trans "Meter Id" %}</small>
                          {% if is_meter_synchronized_with_esb %}
                            {{ meter_form.esb_meter_id|add_attr:'{"disabled": "True"}' }}
                          {% else %}
                          {{ meter_form.esb_meter_id }}
                          {% endif%}
                          {% if meter_form.esb_meter_id.errors %}
                          {{ meter_form.esb_meter_id.errors }}
                          {% endif %}
                        </div>
                        <div class="col-sm-12">
                          <small class="control-label">{% trans "Meter-Contract Id" %}</small>
                          {% if is_meter_synchronized_with_esb %}
                            {{ meter_form.esb_meter_contract_id|add_attr:'{"disabled": "True" }' }}
                          {% else %}
                          {{ meter_form.esb_meter_contract_id }}
                          {% endif%}
                          {% if meter_form.esb_meter_contract_id.errors %}
                          {{ meter_form.esb_meter_contract_id.errors }}
                          {% endif %}
                        </div>
                      {% if is_meter_synchronized_with_esb %}
                         <div class="col-sm-12" id="ChangeESBMeterDataTrigger">
                          <small class="control-label">
                            <label>
                              <input class="" type="checkbox" id="changeESBMeterDataCheckbox">
                              Cambiar los datos de 'Meter Id' o 'Meter-Contract Id'
                            </label>
                          </small>
                        </div>
                      {% endif%}
                    </div>
                </div>
            </div>

            <div class="hr-line-dashed" style="margin-top:0%;"></div>
            <div class="form-group" style="/*text-align:right; margin-right:1%*/">
              <label class="control-label col-sm-2 text-right">{% trans "Categorías*" %} </label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    {{ meter_form.usage|add_class:"form-control" }}
                    {% if meter_form.usage.errors %}
                    {{ meter_form.usage.errors }}
                    {% endif %}
                </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed" style="margin-top:0%;"></div>
            <div class="form-group" style="/*text-align:right; margin-right:1%*/">
              <label class="control-label col-sm-2 text-right">{% trans "Observaciones" %} </label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    {{ meter_form.observations }}
                    {% if meter_form.observations.errors %}
                    {{ meter_form.observations.errors }}
                    {% endif %}
                </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed" style="margin-top:0%;"></div>
            <div class=" row" style="margin-top:1%">
                <div class="pull-right" style="margin-right:1%">
                    <button class="btn btn-primary" id="btn-submit" type="submit"><i class="fa fa-floppy-o"></i> {% trans "Guardar cambios" %}</button>
                </div>
                {% if selected_meter and user.is_staff or selected_meter and user|user_is_role:ROLE_ADMINISTRATOR %}
                <div class="btn-group pull-right m-r-sm">
                     <a href="{% url 'delete_meter' meter_id=selected_meter.id %}"
                        class="btn btn-outline btn-danger delete_meter" name="delete">
                       <i class="fa fa-trash"></i> {% trans "Borrar Medidor" %}</a>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block javascript_files %}
  {{ block.super }}

  <script type="text/javascript" src="{% static  'app/libs/iCheck/icheck.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/libs/sweetalert/sweetalert.min.js' %}"></script>
  <!-- Data picker -->
  <script type="text/javascript" src="{% static 'app/libs/datapicker/bootstrap-datepicker.min.js' %}"></script>
  {% if LANGUAGE_CODE == 'es' or LANGUAGE_CODE == 'es-co' %}
  <script type="text/javascript" src="{% static 'app/libs/datapicker/i18n/bootstrap-datepicker.es.min.js' %}" charset="UTF-8"></script>
  {% endif %}
  <script type="text/javascript" src="{% static 'app/libs/bootstrap-select/bootstrap-select.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/libs/switchery/switchery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/js/meter_view/meter.js' %}"></script>
{% endblock %}

{% block javascript_functions %}
  {{ block.super }}
  $('#id_esb_sync').on('ifChanged', function (event) {
      if ($('#id_esb_sync').is(':checked')){
        swal({
          title: "¿Estás seguro?",
          text: "Los datos del medidor se sincronizaran con Blockchain.\n¡Una vez guardado no se puede deshacer!",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-danger",
          confirmButtonText: "Guardar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: false,
          closeOnCancel: false
        },
        function(isConfirm) {
          if (isConfirm) {
            swal("Continuar", "Perfecto, puedes continuar", "success");
          } else {
            $('#id_esb_sync').iCheck('uncheck');
            swal("Cancelado", "Hemos deseleccionado esta acción por ti", "error");

          }
        });
      }
    });
    function closeModal(){
        $('#error-file-modal').dialog('close')
    }

    var switchery

    function toogle_show_connection_params_button(visible){
        if(visible == true) {
            $("#show_connection_params").show();
        }
        else{
            $("#show_connection_params").hide();
            toogle_connection_params(true);
        }
    }

    function toogle_connection_params(visible){
        if(visible == false) {
            $("#connection_params").show();
            $("#show_connection_params").html("{% trans "Ocultar datos de comunicación" %}");
        }
        else{
            $("#connection_params").hide();
            $("#show_connection_params").html("{% trans "Mostrar datos de comunicación" %}");
        }
    }

    function showContent() {
        cupsContent = $("#form_type_supply");
        SupplyContent = $("#SupplyPointContent");
        parentContent = $("#form_type_submeter");
        SubmeterContent = $("#SubmeterContent");
        check = document.getElementById("id_is_supply_point");
        esb_sync_input = document.getElementById("ChangeESBMeterDataTrigger")
{#        meter_type = $('#id_meter_type').val();#}
        if (check.checked) {
            cupsContent.addClass("active");
            SupplyContent.removeClass("hide");
            $('#id_cups').prop('required',true);
            if(esb_sync_input != null) { // Disable possibility to change cups
              $('#id_cups').prop('disabled',true);
            }
            parentContent.removeClass("active");
            SubmeterContent.addClass("hide");
        }
        else {
            cupsContent.removeClass("active");
            SupplyContent.addClass("hide");
            $('#id_cups').prop('required',false);
            parentContent.addClass("active");
            if(esb_sync_input != null) { // Disable possibility to select parent meter
              $('#id_parent').prop('disabled',true);
            }
            SubmeterContent.removeClass("hide");
        }
    }

    {% if error %}
     var redirectOnError = function () {
            location.href = "{% url 'buildings' %}";
    };
    {% endif %}

{% endblock %}

{% block javascripts_document_ready %}
    {{ block.super }}

    $('.selectpicker').selectpicker('refresh');

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });

    $('.input-daterange').datepicker({
        dateFormat: 'dd/mm/yy',
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });



    var elem = document.querySelector('.js-switch');

    switchery = new Switchery(elem, {color: '#1AB394'});
    if ($('.form_type.active').val() == "formSupplyPoint" && elem.checked == false){
        switchery.setPosition("true")
    }
    {% if selected_meter %}
    switchery.disable();
    showContent();
    {% endif %}

{#    $("#id_meter_type").on("change", function () {#}
{#         showContent();#}
{#    });#}

{#    {% if selected_meter %}#}
{#      $("#id_meter_type").prop("disabled", true);#}
{#      $(".selectpicker[data-id='id_meter_type']").addClass("disabled");#}
{##}
{#    {% endif %}#}

    showContent();

    toogle_show_connection_params_button($('#id_has_remote_conection').is(':checked'));

    $('#id_has_remote_conection').on('ifChanged', function (event) {
        toogle_show_connection_params_button(event.target.checked);
    });

    $('#show_connection_params').on('click', function (event) {
        toogle_connection_params($('#connection_params').is(':visible'));
    });

    {% if not user|user_is_management_or_is_admin and not user.is_staff %}
      $('#id_has_remote_conection').iCheck('disable');
      $('#id_has_remote_conection').iCheck('update');

      $('#connection_params').find('input, textarea, button, select').attr('disabled','disabled');
    {% endif %}

    {% if final_client %}
      $('#SupplyPointContent').find('input, textarea, button, select').attr('disabled','disabled');
      $('#SubmeterContent').find('input, textarea, button, select').attr('disabled','disabled');
    {% endif %}

  $('#meter-form').submit(function () { $('[disabled]').removeAttr('disabled'); });

{% endblock %}
