{% load staticfiles %}
{% load i18n %}
{% load authz %}
{% load add_attr from energify %}

<style rel="stylesheet" type="text/css">
{% block head_css_styles %}

  .timeline-item .content {
    border-left: 1px solid #676a6c;
    border-top: 1px solid #e7eaec;
    padding-top: 0px;
    min-height: 0px;
  }

  .timeline-item .content .title{
    min-height: 20px;
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .timeline-item .date {
    text-align: right;
    width: 30px;
    position: relative;
    padding-top: 30px;
  }

  .timeline-item .date div {
    position: absolute;
    top: 0;
    right: -15px;
    padding: 0px;
    width: 30px;
    text-align: center;
    border: 0px;
    background: #fff;
    padding-top: 4px;
   }

  .timeline-item .date div.end-arrow{
    top: -10px;
  }

{% endblock head_css_styles %}
</style>

<input type="hidden" name="building" id="id_building" value="{{ building.id }}">
<input type="hidden" name="retailer" id="id_retailer" value="{{ building.utility.id }}">
<input type="hidden" name="currency_code" id="id_currency_code" value="EUR">
<input type="hidden" name="date_to" id="id_date_to" value="2020-10-10">

<div id="content-ppa-type" class="form-group">
    <label class="control-label col-sm-2 text-right"></label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12 m-b">
                <small class="control-label">{% trans "Tipo de Contrato" %}</small>
                {{ form.contract_type|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline", "data-live-search": "true"}' }}
                {% if form.contract_type.errors %}
                {{ form.contract_type.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 m-b">
                <small class="control-label">{% trans "Tipo de PPA" %}</small>
                {{ form.ppa_type|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline", "data-live-search": "true", "required":""}' }}
                {% if form.ppa_type.errors %}
                    {{ form.ppa_type.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small class="p-t-0">{% trans "Generador de energía" %}</small>
                {{ form.investor|add_attr:'{"class":"selectpicker form-control show-tick", "data-live-search": "true"}' }}
                {% if form.investor.errors %}
                    {{ form.investor.errors }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-none"></div>

<div class="form-group">
    <label class="col-sm-2 control-label text-right">{% trans "Duración del contrato" %}</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3">
                <small class="p-t-0">{% trans "Fecha inicio" %}:</small>
                <div class="input-daterange input-group" id="datepicker">
                    {{ form.date_from }}
                </div>
                {% if form.date_from.errors %}
                    {{ form.date_from.errors }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                <small class="p-t-0">{% trans "Duración del contrato" %}:</small>
                {{ form.contract_duration }}
                {% if form.contract_duration.errors %}
                    {{ form.contract_duration.errors }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                <small class="p-t-0">{% trans "Condición suspensiva" %}:</small>
                {{ form.suspension_cond_duration }}
                {% if form.suspension_cond_duration.errors %}
                    {{ form.suspension_cond_duration.errors }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                <small class="p-t-0">{% trans "Frequencia de liquidación" %}</small>
                {{ form.settlement_frequency }}
                {% if form.settlement_frequency.errors %}
                    {{ form.settlement_frequency.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 m-b" style="/*margin-bottom: 10px;*/">
                <label for="{{ form.label_for_id }}" class="control-label"
                       style="padding-left: 0px;font-weight: normal">
                    {{ form.simulated|add_attr:'{"class": "form-control i-checks"}' }}
                    &nbsp {% trans "¿Es un contrato simulado?" %}
                </label>
            </div>
        </div>
        <div class="row" id="div_simulated_name">
            <div class="col-sm-12">
                <small class="control-label">{% trans "Nombre de contrato simulado" %}</small>
                {{ form.simulated_name|add_attr:'{"class": "form-control"}' }}
                {% if form.simulated_name.errors %}
                    {{ form.simulated_name.errors }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-none"></div>

<div class="form-group">
    <label class="col-sm-2 control-label text-right p-t-0">{% trans "Detalles técnicos" %}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-5">
                <small class="p-t-0">{% trans "Potencia instalada:" %}</small>
                {{ form.installed_power }}
                {% if form.installed_power.errors %}
                    {{ form.installed_power.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <small class="control-label">{% trans "Generación mínima de energía anual" %}:</small>
                {{ form.min_yearly_generation }}
                {% if form.min_yearly_generation.errors %}
                    {{ form.min_yearly_generation.errors }}
                {% endif %}
            </div>
            <div class="col-sm-5">
                <small class="control-label">{% trans "Horas equivalentes anuales" %}:</small>
                <div class="input-group m-b">
                    <input type="text" class="form-control parameter" disabled
                           id="id_yearly_equivalent_hours"><span class="input-group-addon" style="border: 0px;">kWh/kWp</span></div>

            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-none"></div>

<div class="form-group">
    <label class="col-sm-2 control-label text-right p-t-0">{% trans "Detalles económicos" %}</label>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-5">
            <small class="p-t-0">{% trans "Precio de energía" %}:</small>
            {{ form.energy_price }}
            {% if form.energy_price.errors %}
              {{ form.energy_price.errors }}
            {% endif %}
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <small class="control-label">{% trans "Porcentaje obligatorio de compra de energía mínima" %}:</small>
            {{ form.min_energy_purchase_ratio }}
            {% if form.min_energy_purchase_ratio.errors %}
              {{ form.min_energy_purchase_ratio.errors }}
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
            <small class="control-label">{% trans "Precio de energía generada sobre el mínimo" %}:</small>
            {{ form.over_min_price }}
            {% if form.over_min_price.errors %}
              {{ form.over_min_price.errors }}
            {% endif %}
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <small class="control-label">{% trans "Porcentaje de energía generada sobre el mínimo" %}:</small>
            {{ form.over_min_energy_ratio }}
            {% if form.over_min_energy_ratio.errors %}
              {{ form.over_min_energy_ratio.errors }}
            {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <small class="control-label">{% trans "Precio de energía de exceso sobre el mínimo" %}:</small>
          {{ form.excess_energy_price }}
          {% if form.excess_energy_price.errors %}
            {{ form.excess_energy_price.errors }}
          {% endif %}
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="timeline">
        <div class="timeline-item">
          <div class="row">
            <div class="col-lg-4 date">
                <div style="font-size: 30px;" class="end-arrow ">&#11165;</div>
            </div>
            <div class="col-lg-8 content no-top-border">
              <p class="title"></p>
              <small>{% trans "Precio a aplicar: Precio de energía generada en exceso" %}</small>
            </div>
          </div>
        </div>
        <div class="timeline-item">
          <div class="row">
            <div class="col-lg-4 date">
              <div>__</div>
            </div>
            <div class="col-lg-8 content no-top-border">
              <p class="title m-t-sm">{% trans "Generación de energía sobre mínimo (Sobreproducción)" %}</p>
              <small>{% trans "Precio a aplicar: Precio de energía generada sobre el mínimo" %}</small>
            </div>
          </div>
        </div>
        <div class="timeline-item">
          <div class="row">
            <div class="col-lg-4 date">
              <div class="text-danger">____</div>
            </div>
            <div class="col-lg-8 content no-top-border">
              <p class="title m-t-sm">{% trans "Generación de energía mínima" %}</p>
              <small>{% trans "Precio a aplicar: Precio de energía" %}</small>
            </div>
          </div>
        </div>
        <div class="timeline-item">
          <div class="row">
            <div class="col-lg-4 date">
              <div>__</div>
            </div>
            <div class="col-lg-8 content no-top-border">
              <p class="title m-t-sm">{% trans "Generación de energía comprometida (Subproducción)" %}</p>
              <small>{% trans "Precio a aplicar: Precio de energía generada por debajo del mínimo comprometido" %}</small>
            </div>
          </div>
        </div>
        <div class="timeline-item">
          <div class="row">
            <div class="col-lg-4 date">
              <div>__</div>
            </div>
            <div class="col-lg-8 content no-top-border">
              <p class="title">{% trans "Producción nula" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hr-line-dashed m-t-none"></div>

<div class="form-group">
    <label class="col-sm-2 control-label text-right p-t-0">{% trans "Cláusula en caso de subproducción" %}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4">
                <small class="p-t-0">{% trans "Precio de energía generada por debajo del mínimo" %}:</small>
                {{ form.under_min_price }}
                {% if form.under_min_price.errors %}
                    {{ form.under_min_price.errors }}
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 ">
                <br />
                <small class="control-label">{% trans "Es el precio de energía generada por debajo del porcentaje mínimo comprometido de producción." %}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <small class="control-label">{% trans "Porcentaje de energía generada por debajo del mínimo" %}:</small>
                {{ form.under_min_ratio }}
                {% if form.under_min_ratio.errors %}
                    {{ form.under_min_ratio.errors }}
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <br />
                <small class="control-label">{% trans "Es el porcentaje aplicado a la generación mínima anual por debajo del cual el productor deberá pagar al cliente." %}</small>
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-none"></div>

<div class="form-group">
    <label class="col-sm-2 control-label text-right p-t-0">{% trans "Garantías" %}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4 pull-left">
                <small class="p-t-0">{% trans "Cantidad monetaria de la garantía" %}:</small>
                {{ form.monetary_account_of_guarantee }}
                {% if form.monetary_account_of_guarantee.errors %}
                    {{ form.monetary_account_of_guarantee.errors }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-none"></div>

{% if user|user_is_management_or_is_admin or user|user_is_role:ROLE_INVESTOR %}

<div class="form-group">
    <label class="col-sm-2 control-label text-right p-t-0">{% trans "Inversión" %}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4 pull-left">
                <small class="p-t-0">{% trans "Inversión de la planta fotovoltaica" %}:</small>
                {{ form.total_investment }}
                {% if form.total_investment.errors %}
                    {{ form.total_investment.errors }}
                {% endif %}
            </div>
            <div class="col-sm-4 pull-left">
                <small class="p-t-0">{% trans "Coste de mantenimiento anual" %}:</small>
                {{ form.yearly_maintenance_cost }}
                {% if form.yearly_maintenance_cost.errors %}
                    {{ form.yearly_maintenance_cost.errors }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-none"></div>
{% endif %}

<script type="text/javascript" src="{% static 'app/libs/moment/moment.min.js' %}"></script>

{#<script type="text/javascript" src="{% static 'app/js/number_format.js' %}"></script>#}

<script type="text/javascript">

  function update_page_specific_components() {
  }


  $('#id_installed_power, #id_min_yearly_generation').change(e => {
    var x = $('#id_min_yearly_generation').val(),
      y = $('#id_installed_power').val();

    var THOUSAND_SEP = '{{ THOUSAND_SEPARATOR }}';   // TODO 1 get this from config or I10N locale
    x = parseFloat(x.replace(THOUSAND_SEP, ""));
    y = parseFloat(y.replace(THOUSAND_SEP, ""));

    if (y > 0) {
      var res = (x / y).toLocaleString("{{ LOCALE }}", {maximumFractionDigits: 2});
      $('#id_yearly_equivalent_hours').val(res);
    }
    ;
  });
  $('#id_date_from, #id_contract_duration').change(e => {
    var d = $('#dateSince').val(),
      y = parseInt($('#id_contract_duration').val()),
      date_to = moment(d, "DD/MM/YYYY").add(y, 'years')
    ;
    $('#id_date_to').val(date_to.format("DD/MM/YYYY"))
  });
  $('#id_installed_power').trigger("change");
  $('#id_contract_duration').trigger("change")

  $('.numbersOnly').on("keypress", function (evt) {
    let DECIMAL_SEP = "{{ DECIMAL_SEPARATOR }}";
    if (evt.which == DECIMAL_SEP.charCodeAt(0)) {
      let value = $(this).val().match(DECIMAL_SEP);
      if (value != null) {
        evt.preventDefault();
      }
    } else if (evt.which < 48 || evt.which > 57) {
      evt.preventDefault();
    }
  });

</script>
