{% extends "contract/common/contract_form.html" %}
{% load staticfiles %}
{% load i18n %}
{% load add_attr from energify %}

{% block section_by_periods %}
<div class="hr-line-dashed m-t-0"></div>
<div id="content-periods">
    <div class="form-group section-ES">
        <label class="col-sm-2 p-t-0 control-label">{% trans "Potencias" %}</label>
        <div class="col-sm-10">
            <small class="control-label">{% trans "Potencia contratada (kW)" %}</small>
            <div class="row period_power">
                <div class="col-sm-2 p1 p2 p3 p6 by_period">
                    <small class="control-label">P1</small>
                    {{ form.contract_power_P1 }}
                    {% if form.contract_power_P1.errors %}
                    {{ form.contract_power_P1.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff2 p2 p3 p6 by_period">
                    <small class="control-label">P2</small>
                    {{ form.contract_power_P2 }}
                    {% if form.contract_power_P2.errors %}
                    {{ form.contract_power_P2.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff3 p3 p6 by_period">
                    <small class="control-label">P3</small>
                    {{ form.contract_power_P3 }}
                    {% if form.contract_power_P3.errors %}
                    {{ form.contract_power_P3.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P4</small>
                    {{ form.contract_power_P4 }}
                    {% if form.contract_power_P4.errors %}
                    {{ form.contract_power_P4.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P5</small>
                    {{ form.contract_power_P5 }}
                    {% if form.contract_power_P5.errors %}
                    {{ form.contract_power_P5.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P6</small>
                    {{ form.contract_power_P6 }}
                    {% if form.contract_power_P6.errors %}
                    {{ form.contract_power_P6.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group section-ES">
        <label class="col-sm-2 p-t-0 control-label"></label>
        <div class="col-sm-10">
            <small class="control-label">{% blocktrans %}Precio de potencia ({{ CURRENT_CURRENCY }}/kW día){% endblocktrans %}</small>
            <div class="row period_power">
                <div class="col-sm-2 p1 p2 p3 p6 by_period">
                    <small class="control-label">P1</small>
                    {{ form.price_power_P1 }}
                    {% if form.price_power_P1.errors %}
                    {{ form.price_power_P1.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff2 p2 p3 p6 by_period">
                    <small class="control-label">P2</small>
                    {{ form.price_power_P2 }}
                    {% if form.price_power_P2.errors %}
                    {{ form.price_power_P2.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff3 p3 p6 by_period">
                    <small class="control-label">P3</small>
                    {{ form.price_power_P3 }}
                    {% if form.price_power_P3.errors %}
                    {{ form.price_power_P3.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P4</small>
                    {{ form.price_power_P4 }}
                    {% if form.price_power_P4.errors %}
                    {{ form.price_power_P4.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P5</small>
                    {{ form.price_power_P5 }}
                    {% if form.price_power_P5.errors %}
                    {{ form.price_power_P5.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P6</small>
                    {{ form.price_power_P6 }}
                    {% if form.price_power_P6.errors %}
                    {{ form.price_power_P6.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed m-t-none section-ES"></div>

    {% block specific_contract_view %} {% endblock %}
</div>
{% endblock %}

{% block section_spain %}
<div class="form-group section-ES">
    <label class="col-sm-2 control-label text-right p-t-0"></label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <small class="p-t-0">{% trans "Coeficiente autonómico" %}</small>
                <div class="input-group">
                    {{ form.regional_coefficient|add_attr:'{"class": "form-control"}' }}
                    {% if form.regional_coefficient.errors %}
                    {{ form.regional_coefficient.errors }}
                    {% endif %}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
<!--            <div class="col-sm-6">-->
<!--                <small class="p-t-0">{% trans "Moneda" %}</small>-->
<!--                {{ form.currency_code }}-->
<!--                {% if form.currency_code.errors %}-->
<!--                {{ form.currency_code.errors }}-->
<!--                {% endif %}-->
<!--            </div>-->
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-0"></div>

<div class="form-group section-ES">
    <label class="col-sm-2 control-label">{% trans "Impuestos" %}<br/></label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12 m-b">
                <small class="p-t-0">{% trans "Impuesto eléctrico" %}</small>
                {{ form.tax|add_attr:'{"class": "form-control"}' }}
                {% if form.tax.errors %}
                {{ form.tax.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small class="p-t-0">IVA</small>
                <div class="input-group">
                    {{ form.vat|add_attr:'{"class": "form-control"}' }}
                    {% if form.vat.errors %}
                    {{ form.vat.errors }}
                    {% endif %}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-0 section-ES"></div>

<div class="form-group section-ES">
    <label class="col-sm-2 control-label text-right">{% trans "Términos" %}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <small class="p-t-0">{% trans "Término de descuento en energía" %}</small>
                <div class="input-group m-b">
                    {{ form.discount_variable_term|add_attr:'{"class": "form-control"}' }}
                    {% if form.discount_variable_term.errors %}
                    {{ form.discount_variable_term.errors }}
                    {% endif %}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small class="p-t-0">{% trans "Término de descuento en potencia" %}</small>
                <div class="input-group">
                    {{ form.discount_fixed_term|add_attr:'{"class": "form-control"}' }}
                    {% if form.discount_fixed_term.errors %}
                    {{ form.discount_fixed_term.errors }}
                    {% endif %}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-0 section-ES"></div>

<div class="form-group section-ES">
    <label class="col-sm-2 control-label text-right">{% trans "Alquileres" %}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-9">
                <small class="p-t-0">{% trans "Alquiler de contador" %}</small>
                {{ form.meter_leasing|add_attr:'{"class": "form-control"}' }}
                {% if form.meter_leasing.errors %}
                {{ form.meter_leasing.errors }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                <br>
                {{ form.meter_leasing_period|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline"}' }}
            </div>
        </div>
    </div>
</div>

<div class="form-group section-ES">
    <label class="col-sm-2 control-label text-right"></label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-9">
                <small class="p-t-0">{% trans "Otros conceptos" %}</small>
                {{ form.other_concepts|add_attr:'{"class": "form-control"}' }}
                {% if form.other_concepts.errors %}
                {{ form.other_concepts.errors }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                <br>
                {{ form.other_concepts_period|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline"}' }}
            </div>
        </div>
    </div>
</div>

<div class="hr-line-dashed m-t-0 section-ES"></div>

{% endblock %}

{% block script_code %}
<script type="text/javascript" >
    function update_tariff_by_contract_type(){
        $('#id_tariff').selectpicker('refresh');
        var current_contract_type = $('#id_contract_type').val();
        $.each($('#id_tariff option'), function(index, item) {
            if(current_contract_type == $(item).data("contract_type")){
                $(item).show();
            }
            else{
                $(item).hide();
            }
        });

        $('#id_tariff').selectpicker('refresh');
        {#does not work in chrome#}
        {#var selected_option = $("#id_tariff option:not(:hidden):selected").val();#}

        var selected_option = $('#id_tariff option[selected]');
        if(selected_option && selected_option.prop("style") && selected_option.prop("style").display == "none"){
            selected_option = null;
        }

<!--        if(selected_option){-->
<!--            $('#id_tariff').selectpicker('val', selected_option.val());-->
<!--            {#$('#id_tariff').selectpicker('val', $("#id_tariff option:not(:hidden):selected").val());#}-->
<!--        }-->
<!--        else{-->
<!--            $('#id_tariff').selectpicker('val', "");-->
<!--            $('#id_tariff').selectpicker('render');-->
<!--        }-->

        update_periods_inputs_by_tariff();
    }

    function update_periods_inputs_by_tariff(){
        var current_tariff_option = $('#id_tariff option:selected');
        var current_period = $(current_tariff_option).data("num_periods");
        var current_period_power = $(current_tariff_option).data("num_periods_power");
        $(".by_period").hide();
        $(".by_period input").prop('required',false);
        $(".period_energy .p" + current_period).show();
        $(".period_energy .p" + current_period + " input").prop('required',true);

        $(".period_power .p" + current_period_power).show();
        $(".period_power .p" + current_period_power + " input").prop('required',true);
    }

    function get_power_prices_of_tariff(){
        var current_tariff_option = $('#id_tariff option:selected').val();
        var current_tariff_group_option = $('#id_tariff_group option:selected').val();
        var url = DjangoUrl.reverse('get_power_prices_of_tariff');
        $.post(url, {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'tariff': current_tariff_option,
           'tariff_group': current_tariff_group_option,
        }).done(function (response) {
          var power_prices = response.power_prices;
          for( i in power_prices){
            $('#id_price_power_P'+String(parseInt(i)+1)).val(power_prices[i])
          }

          var energy_prices = response.energy_prices;
          for( i in energy_prices){
            $('#id_price_energy_P'+String(parseInt(i)+1)).val(energy_prices[i])
          }

          var commercial_margin = response.commercial_margin;
          for( i in commercial_margin){
            $('#id_commercial_margin_P'+String(parseInt(i)+1)).val(commercial_margin[i])
          }
        }).fail(function () {
          console.log("Error loading power prices of tariff");
        });
    }

    function update_indexed_content_by_type() {
    {#console.log("actualizando");#}
    {#console.log($("#id_indexed_type").val())#}
        if($("#id_indexed_type").val() == 0){
            $("#pass-pool-content").removeClass("hide");
            $("#pass-through-content").addClass("hide");
        }else{
            $("#pass-pool-content").addClass("hide");
            $("#pass-through-content").removeClass("hide");
        }
    };

    function update_page_specific_components(){
        update_tariff_by_contract_type();
        update_indexed_content_by_type();

        $("#id_tariff").on("change", function () {
            get_contract(false, true);
            update_periods_inputs_by_tariff();
            get_power_prices_of_tariff();
        });

        $("#id_tariff_group").on("change", function () {
            get_power_prices_of_tariff();
        });

        $("#id_indexed_type").on("change", function () {
            update_indexed_content_by_type();
        });
    }
</script>
{% endblock %}
