{% extends "contract/es/contract_form.html" %}
{% load staticfiles %}
{% load i18n %}

{% block specific_contract_view %}
    <div class="form-group energy-prices-content" id="energy-prices-content1">
        <label class="col-sm-2 control-label text-right">{% trans "Energías" %}</label>

        <div class="col-sm-10">
            <small class="control-label">{% blocktrans %}Precio de energía ({{ CURRENT_CURRENCY }}/kWh){% endblocktrans %}</small>
            <div class="row period_energy">
                <div class="col-sm-2 ">
                    <small class="control-label">P1</small>
                    {{ form.price_energy_P1 }}
                    {% if form.price_energy_P1.errors %}
                    {{ form.price_energy_P1.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff2 p2 p3 p6 by_period">
                    <small class="control-label">P2</small>
                    {{ form.price_energy_P2 }}
                    {% if form.price_energy_P2.errors %}
                    {{ form.price_energy_P2.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff3 p3 p6 by_period">
                    <small class="control-label">P3</small>
                    {{ form.price_energy_P3 }}
                    {% if form.price_energy_P3.errors %}
                    {{ form.price_energy_P3.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P4</small>
                    {{ form.price_energy_P4 }}
                    {% if form.price_energy_P4.errors %}
                    {{ form.price_energy_P4.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P5</small>
                    {{ form.price_energy_P5 }}
                    {% if form.price_energy_P5.errors %}
                    {{ form.price_energy_P5.errors }}
                    {% endif %}
                </div>
                <div class="col-sm-2 tariff6 p6 by_period">
                    <small class="control-label">P6</small>
                    {{ form.price_energy_P6 }}
                    {% if form.price_energy_P6.errors %}
                    {{ form.price_energy_P6.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
