{% extends "contract/es/contract_form.html" %}
{% load staticfiles %}
{% load i18n %}
{% load add_attr from energify %}

{% block specific_contract_view %}
{#    Indexado#}
<div class="form-group indexed-content section-ES">
    <label class="col-sm-2 control-label text-right">{% trans "Energías" %}</label>
    <div class="col-sm-10">
        <small class="control-label">Tipo de indexado</small>
        {{ form.indexed_type|add_attr:'{"class":"selectpicker form-control show-tick", "data-live-search": "true"}' }}
        {% if form.indexed_type.errors %}
        {{ form.indexed_type.errors }}
        {% endif %}
    </div>
</div>

<div id="pass-pool-content" class="form-group indexed-content section-ES hide">
    <label class="col-sm-2 control-label text-right"></label>
    <div class="col-sm-10">
        <small class="control-label">{% blocktrans %}Term. fijo de la energía 2 ({{ CURRENT_CURRENCY }}/qh){% endblocktrans %}</small>
        <div class="row">
            <div class="col-sm-2">
                {{ form.term_fixed_energy_P }}
                {% if form.term_fixed_energy_P.errors %}
                {{ form.term_fixed_energy_P.errors }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="pass-through-content" class="form-group indexed-content section-ES">
    <label class="col-sm-2 control-label text-right"></label>
    <div class="col-sm-10">
        <small class="control-label">{% blocktrans %}Margen de comercializadora ({{ CURRENT_CURRENCY }}/MWh){% endblocktrans %}</small>
        <div class="row period_energy">
            <div class="col-sm-2 ">
                <small class="control-label">P1</small>
                {{ form.commercial_margin_P1 }}
                {% if form.commercial_margin_P1.errors %}
                {{ form.commercial_margin_P1.errors }}
                {% endif %}
            </div>
            <div class="col-sm-2 tariff2 p2 p3 p6 by_period">
                <small class="control-label">P2</small>
                {{ form.commercial_margin_P2 }}
                {% if form.commercial_margin_P2.errors %}
                {{ form.commercial_margin_P2.errors }}
                {% endif %}
            </div>
            <div class="col-sm-2 tariff3 p3 p6 by_period">
                <small class="control-label">P3</small>
                {{ form.commercial_margin_P3 }}
                {% if form.commercial_margin_P3.errors %}
                {{ form.commercial_margin_P3.errors }}
                {% endif %}
            </div>
            <div class="col-sm-2 tariff6 p6 by_period">
                <small class="control-label">P4</small>
                {{ form.commercial_margin_P4 }}
                {% if form.commercial_margin_P4.errors %}
                {{ form.commercial_margin_P4.errors }}
                {% endif %}
            </div>
            <div class="col-sm-2 tariff6 p6 by_period">
                <small class="control-label">P5</small>
                {{ form.commercial_margin_P5 }}
                {% if form.commercial_margin_P5.errors %}
                {{ form.commercial_margin_P5.errors }}
                {% endif %}
            </div>
            <div class="col-sm-2 tariff6 p6 by_period">
                <small class="control-label">P6</small>
                {{ form.commercial_margin_P6 }}
                {% if form.commercial_margin_P6.errors %}
                {{ form.commercial_margin_P6.errors }}
                {% endif %}
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--                {{ form.commercial_margin_P }}-->
<!--                {% if form.commercial_margin_P.errors %}-->
<!--                {{ form.commercial_margin_P.errors }}-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<div class="form-group indexed-content section-ES">
    <label class="col-sm-2 control-label text-right"></label>
    <div class="col-sm-10">
        <small class="control-label">{% trans "Coef. sobre precio OMIE" %}</small>
        <div class="row">
            <div class="col-sm-2">
                {{ form.coefficient_OMIE_price_P }}
                {% if form.coefficient_OMIE_price_P.errors %}
                {{ form.coefficient_OMIE_price_P.errors }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
