{% extends "contract/es/contract_form.html" %}
{% load staticfiles %}
{% load i18n %}
{% load add_attr from energify %}

{% block specific_contract_view %}
{#    PVPC#}
<div class="form-group">
    <label class="col-sm-2 control-label text-right">{% trans "Energías" %}</label>
    <div class="col-sm-10">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> {% trans "No es necesario llenar esta sección" %}
        </div>
    </div>
</div>
{% endblock %}