{% load staticfiles %}
{% load i18n %}
{% load add_attr from energify %}

{#Colombia#}
{% block section_co_regulated %} {% endblock %}
{#Colombia#}


<div id="replaceme">
  <div id="content-tariff" class="form-group">
      <label class="control-label col-sm-2 text-right"></label>
      <div class="col-sm-10">
          <div class="row">
              <div class="col-sm-12 m-b">
                  <small class="control-label">{% trans "Tipo de Contrato" %}</small>
                  {{ form.contract_type|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline", "data-live-search": "true"}' }}
                  {% if form.contract_type.errors %}
                  {{ form.contract_type.errors }}
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 m-b">
                  <small class="control-label">{% trans "Tipo de Tarifa" %}</small>
                  {{ form.tariff|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline", "data-live-search": "true", "required":""}' }}
                  {% if form.tariff.errors %}
                  {{ form.tariff.errors }}
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <small class="control-label">{% trans "Tarifa Comercial" %}</small>
                  {{ form.tariff_group|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline", "data-live-search": "true"}' }}
                  {% if form.tariff_group.errors %}
                  {{ form.tariff_group.errors }}
                  {% endif %}
              </div>
          </div>
  <!--        <div class="row">-->
  <!--            <div class="col-sm-12">-->
  <!--                <small class="p-t-0">{% trans "Comercializadora" %}</small>-->
  <!--                {{ form.retailer|add_attr:'{"class":"selectpicker form-control show-tick", "data-live-search": "true"}' }}-->
  <!--                {% if form.retailer.errors %}-->
  <!--                {{ form.retailer.errors }}-->
  <!--                {% endif %}-->
  <!--            </div>-->
  <!--        </div>-->
      </div>
  </div>



  {#España#}
  {% block section_by_periods %} {% endblock %}
  {#España#}

  <div class="hr-line-dashed m-t-none"></div>

  <div class="form-group">
      <label class="col-sm-2 control-label text-right">{% trans "Simulado" %}</label>
      <div class="col-sm-10">
          <div class="row">
              <div class="col-sm-12 m-b" style="/*margin-bottom: 10px;*/">
                  <label for="{{ form.label_for_id }}" class="control-label" style="padding-left: 0px;font-weight: normal">
                      {{ form.simulated|add_attr:'{"class": "form-control i-checks"}' }} &nbsp {% trans "¿Es un contrato simulado?" %}
                  </label>
              </div>
          </div>
          <div class="row" id="div_simulated_name">
              <div class="col-sm-12">
                  <small class="control-label">{% trans "Nombre de contrato simulado" %}</small>
                  {{ form.simulated_name|add_attr:'{"class": "form-control"}' }}
                  {% if form.simulated_name.errors %}
                  {{ form.simulated_name.errors }}
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
  <div class="hr-line-dashed m-t-none"></div>

  <div class="hr-line-dashed m-t-none"></div>

  <!--{#<div class="form-group section-ES">#}-->
  <!--{#    <div class="col-sm-8 col-sm-offset-3">#}-->
  <!--{#        <div class="row">#}-->
  <!--{##}-->
  <!--{#            {% comment %}#}-->
  <!--{#            {{ form.measure_BT_with_invoice_AT }}#}-->
  <!--{#            <label class="control-label">&nbsp;{% trans "¿Tu suministro realiza la medida en baja tensión y factura en una tarifa de alta tensión?" %}</label>#}-->
  <!--{#            {% endcomment %}#}-->
  <!--{#            {% comment %}#}-->
  <!--{#            <div class="row" id="content" style="display:None">#}-->
  <!--{#                <div class="col-sm-3"></div>#}-->
  <!--{#                <div class="col-sm-8">#}-->
  <!--{#                    <div class="form-group" style="margin-left:-1%; margin-right:0%">#}-->
  <!--{#                        {{ form.power_transformer }}#}-->
  <!--{#                        {% if form.power_transformer.errors %}#}-->
  <!--{#                        {{ form.power_transformer.errors }}#}-->
  <!--{#                        {% endif %}#}-->
  <!--{#                    </div>#}-->
  <!--{#                </div>#}-->
  <!--{#                <div class="col-sm-1"></div>#}-->
  <!--{#            </div>#}-->
  <!--{#            {% endcomment %}#}-->
  <!--{#        </div>#}-->
  <!--{#    </div>#}-->
  <!--{#</div>#}-->

  <div class="form-group">
      <label class="col-sm-2 control-label text-right p-t-0">{% trans "Coeficientes" %}</label>
      <div class="col-sm-10">
          <small class="p-t-0">{% trans "Coeficiente de emisiones" %}</small>
          {{ form.emission_coefficient|add_attr:'{"class": "form-control"}' }}
          {% if form.emission_coefficient.errors %}
          {{ form.emission_coefficient.errors }}
          {% endif %}
      </div>
  </div>

  {% block section_spain %}
  {% endblock %}

  {% block script_code %}
  {% endblock %}
</div>
