{% extends "core/meters_view.html" %}
{% load staticfiles %}
{% load i18n %}
{% load add_attr from energify %}

{% block head_stylesheet_file %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/datapicker/bootstrap-datepicker3.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/daterangepicker/daterangepicker-bs3.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/iCheck/custom.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/libs/bootstrap-select/bootstrap-select.min.css' %}">
{% endblock %}

{% block head_css_styles %}
  {{ block.super }}
.bootstrap-select > .btn.btn-default { border-radius: 0 !important; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance:textfield;
}
.p-t-0 { padding-top: 0 !important; }
.p-r-0 { padding-right: 0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left: 0 !important; }
.float-right { float: right; }
{% endblock %}

{% block formLayout %}
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 class="font-bold no-margins"> {% trans "Información de contratos" %}</h5>
        <div class="ibox-tools">
          <a href="https://www.youtube.com/watch?v=8amrYyAVmqc&feature=emb_logo" target="_blank" style="color: #1ab394;">
            <i class="fa fa-1_5x fa-video-camera" data-toggle="tooltip" data-placement="top" title="Ver video tutorial"></i>
          </a>
        </div>
    </div>
    {% if not has_invoice_helper %}
        {% include 'contract/common/no_contract_form.html' with building_id=building_id%}
    {% else %}
    <div class="ibox-content">
      <form id="contract-form" name="contract-form" method="post" class="form-horizontal" action="">{% csrf_token %}
          <input type="hidden" name="form_type" value="formContract">
          <input type="hidden" name="supply_point" id="id_supply_point" value="{{ selected_meter.id }}">

          <div id="content-tariff" class="form-group">
              <label class="control-label col-sm-2 text-right">{% trans "Datos Generales" %}</label>
              <div class="col-sm-10">
                <div class="row">
                      <div class="col-sm-12">
                          <small class="p-t-0">{% trans "Comercializadora" %}</small>
                          {{ form.retailer|add_attr:'{"class":"selectpicker form-control show-tick", "data-live-search": "true"}' }}
                          {% if form.retailer.errors %}
                          {{ form.retailer.errors }}
                          {% endif %}
                      </div>
                  </div>
<!--                  <div class="row">-->
<!--                      <div class="col-sm-12">-->
<!--                          <small class="control-label">{% trans "Tipo de Contrato" %}</small>-->
<!--                          {{ form.contract_type|add_attr:'{"class": "selectpicker input-md form-control input-s-sm inline", "data-live-search": "true"}' }}-->
<!--                          {% if form.contract_type.errors %}-->
<!--                          {{ form.contract_type.errors }}-->
<!--                          {% endif %}-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
          <div id="specific_form">
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-2">
                  <div class="row">
                      <div class="col-sm-7">
                          <small class="control-label">{% trans "Duración" %}</small>
                          <div class="input-daterange input-group" id="datepicker">
                              {{ form.date_from }}
                              <span class="input-group-addon">{% trans "hasta" %}</span>
                              {{ form.date_to }}
                          </div>
                          {% if form.date_from.errors %}
                              {{ form.date_from.errors }}
                          {% endif %}
                          {% if form.date_to.errors %}
                              {{ form.date_to.errors }}
                          {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
              {% if has_form %}
                  {% include template with form=form contract_type=contract_type %}
              {% endif %}
          </div>
          <div>
            <input name="recalculate_measures" value="0" id="id_recalculate_measures" class="form-control" type="hidden">
            <input name="recalculate_measures_based_on" value="0" id="id_recalculate_measures_based_on" class="form-control" type="hidden">
          </div>

          <div class=" row" style="margin-top:1%">
              <div class="pull-right" style="margin-right: 1%">
                  <button class="btn btn-primary" id="btn-submit" type="submit"><i class="fa fa-floppy-o"></i> {% trans "Guardar cambios" %}</button>
              </div>
              {% if contract and not final_client %}
              <div class="btn-group pull-right m-r-sm">
                   <a href="{% url 'delete_contract' contract_id=contract.id %}"
                           class="btn btn-outline btn-danger delete_contract" name="delete" ><i class="fa fa-trash"></i> {% trans "Borrar Contrato" %}</a>
              </div>
              {% endif %}
          </div>
      </form>
      {% include 'contract/common/contract_form_confirm_modal.html' with modal_id="confirm-submit" meter=selected_meter %}
    </div>
  {% endif %}

</div>

{% endblock %}

{% block javascript_files %}

{{ block.super }}

<script type="text/javascript" src="{% static 'app/libs/fullcalendar/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/libs/iCheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/libs/jquery-validate/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/libs/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/libs/datapicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'django_js_routing/router.min.js' %}"></script>
<script src="{% url 'django_js_routing:routes' %}"></script>
{% if LANGUAGE_CODE == 'es' or LANGUAGE_CODE == 'es-co' %}
<script type="text/javascript" src="{% static 'app/libs/datapicker/i18n/bootstrap-datepicker.es.min.js' %}" charset="UTF-8"></script>
{% endif %}
{% endblock %}

{% block javascript_functions %}
{{ block.super }}

    var selected_contract_type = "";

    function get_contract(from_contract_type, from_tariff, triggeredByDate){
        $.ajaxSetup({async: false});
        selected_contract_type = $('#id_contract_type').val();
        var selected_tariff = $('#id_tariff').val();

        var contract_id =
        $.post("{% url 'get_contract_form' %}", {
            'get_current_form': "get_current_form",
            'contract_type': $('#id_contract_type').val(),
            'retailer_id': $('#id_retailer').val(),
            {% if contract %}
                'contract_id': "{{ contract.id }}",
            {% endif %}
            'tariff_id': ((from_tariff) ? $('#id_tariff').val() : "") ,
            'selected_meter': "{{ selected_meter.id }}",
            'date_to': $('#dateUntil').val(),
            'date_from': $('#dateSince').val(),
            'async' : false,
            'triggered_by_date' : triggeredByDate,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }).done(function (response) {
            $('#replaceme').html(response);
<!--            if(from_contract_type)-->
            $("#id_contract_type").val(selected_contract_type);
            if(from_tariff){
              $("#id_tariff").val(selected_tariff);
            }
            update_page_general_components();
            update_page_specific_components();
        })
        .fail(function(xhr, status, error) {
            $('#specific_form').html("No form for the current type of contract");
        });

    }

    function toogle_simulated_name(visible){
        if(visible == true) {
            $("#div_simulated_name").show();
        }
        else{
            $("#div_simulated_name").hide();
            $("#id_simulated_name").val("");
        }
    }

    function check_dates() {
      var dateSince = $('#dateSince').val();
      var dateUntil = $('#dateUntil').val();
      var date_today = moment().startOf('day').format('DD/MM/YYYY');

      if(dateUntil === "" && dateSince !== "") {
        $('#dateUntil').val(dateSince);
      } else if (dateUntil === "" && dateSince === "") {
        $('#dateSince').val(date_today);
        $('#dateUntil').val(date_today);
      }
    }

    function update_page_general_components(){
        jQuery('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        check_dates();

        toogle_simulated_name($('#id_simulated').is(':checked'));

        $("#id_contract_type").on("change", function () {
             get_contract(true, false, false);
        });

        $('#id_simulated').on('ifChanged', function (event) {
            toogle_simulated_name(event.target.checked);
        });

        $('.i-checks').iCheck({ checkboxClass: 'icheckbox_square-green'});

        $('.selectpicker').selectpicker('refresh');
    }

    function empty_required_fields(){
        var empty_fields = false;
{#        var fields_required = $('input,textarea,select').filter('[required]:visible');#}
        var fields_required = $('input,textarea,select').filter('[required]');
        $.each(fields_required, function(index, item) {
            if($(item).val() == ""){
                empty_fields = true;
                return false; //break
            }
        });
        return empty_fields;
    }
{% endblock %}

{% block javascripts_document_ready %}
  {{ block.super }}

  {% if date_tariff_change_es  %}
    var date_tariff_change_es = "{{ date_tariff_change_es|date:"d/m/Y" }}";
  {% endif %}

  $("#dateSince").datepicker({
        format: "dd/mm/yyyy",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
      })
      .on("change", function() {
        check_dates();
        get_contract(true, false, true);
      });

  $("#dateUntil").datepicker({
        format: "dd/mm/yyyy",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
      })
      .on("change", function() {
        check_dates();
        get_contract(true, false, true);
      });


 {% if has_invoice_helper %}
    var is_supply_point = ("{{is_supply}}" == "True");
    $('#btn-submit').on("click", function(e) {
        var $myForm = $('#contract-form');

        if($myForm[0].checkValidity()) {

          var simulated = $('#id_simulated').is(':checked');
          e.preventDefault();
          if(!simulated && is_supply_point)
            $('#confirm-submit').modal('show');
          else{
            if( !empty_required_fields())
                  $('#contract-form').attr('action', window.location.href).submit();
          }
        }
    });

  $("#confirm-submit").submit(function() {
      e.preventDefault();
  });

  $('#confirm-no').click(function() {
    $("#id_recalculate_measures").val(0);
    if( !empty_required_fields())
        $('#contract-form').attr('action', window.location.href).submit();
  });

  $('#confirm-yes').click(function(){
    $("#id_recalculate_measures").val(1);
    var reco_based_on= $("input[name='reco_based_on_contract_form']:checked").val();
    $("#id_recalculate_measures_based_on").val(reco_based_on);
    if( !empty_required_fields())
        $('#contract-form').attr('action', window.location.href).submit();
  });

    update_page_general_components();

    update_page_specific_components();
<!--    get_contract();-->

    $("#id_retailer").on("change", function () {
         get_contract(false, false, false);
    });
 {% endif %}
{% endblock %}
