{% load staticfiles %}
{% load i18n %}

<div class="middle-box text-center">
    <h3 class="font-bold text-center">{% trans "Formulario de contrato no definido" %}</h3>
    <div class="error-desc">
      {% trans "El país de la instalación actual no tiene definido un formulario para crear contratos." %}
      <br/><a href="{% url 'building_edit' building_id=building_id %}" class="btn btn-primary m-t">{% trans "Editar instalación" %}</a>
    </div>
</div>
